<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Angular RxJS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li *ngFor="let item of navItems" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="item.link">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
