<div class="row">
    <div class="col-auto">
        <button class="btn btn-secondary" (click)="example1()">Example 1</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" (click)="example2()">Example 2</button>
    </div>
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Example 3
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item" (click)="example3A()">Requests A</div>
                <div class="dropdown-item" (click)="example3B()">Requests B</div>
            </div>
        </div>
    </div>
</div>
