<div class="row">
    <div class="col-auto">
        <button class="btn btn-secondary" (click)="example1()">Example 1</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" (click)="example2()">Example 2</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-secondary" (click)="example3()">Example 3</button>
    </div>
</div>
